<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230769555731-m959fm9jnhkde8b8kii57kr4jermucna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230769555731-m959fm9jnhkde8b8kii57kr4jermucna</string>
	<key>API_KEY</key>
	<string>AIzaSyApnC4RunpFF8_rkHxA_xlRZFnUgcLHH-g</string>
	<key>GCM_SENDER_ID</key>
	<string>230769555731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginapp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-77a47</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-77a47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230769555731:ios:ab1cb2242650b828c202e6</string>
</dict>
</plist>